body, html {
  min-width: 100%;
  margin: 0;
  padding: 0; }

.wrapper {
  margin: 0;
  min-width: 100%;
  overflow: scroll; }

.front-pic {
  margin: 0;
  width: 100%; }
  .front-pic img {
    min-width: 100%; }

.block {
  width: 30%;
  border: solid black 1px;
  margin: 1%;
  height: 15%; }
  .block img {
    max-width: 100%;
    max-height: 200px; }

.display-none {
  display: none; }

.display-block {
  width: 100%; }
